* {
    padding: 0;
    margin: 0;
    color: white;
}

#container {
    background-image: url("/images/react-logo.svg");
    background-color: rgb(20, 13, 48);
}

#nav {
    display: flex;
    justify-content: space-between;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-top: 2vh;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10vh;
}

h3 {
    font-size: 1.8rem;
    width: 45%;
    text-align: center;
    margin-bottom: 2vh;
}

button {
    color: black;
    padding: 1vh;
    border: 2px solid white
}

#box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22.6vh;
}

/* #card {
    display: flex;
    flex-direction: column;
} 