* {
  margin: 0;
  padding: 0;
}

footer,
header {
  width: 100vw;
  height: 10vh;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #1d2533;
}
div {
  margin-top: 75px;
  width: 90vw;
}
