*{
    background-color: #1e2534;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 40px;
}
.landing-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title h1 {
    color: #fff;
    font-size: 90px;
    padding: 70px;
}
.paragraphs{
    padding: 80px;
    width: 60%;
    
}
.paragraphs p{
    font-size: 50px;
    text-align: center;
    font-weight: 500;

}
.button-accept{
    padding: 80px;
}
button{
    background-color: #FFF;
    border: none;
    color: #1e2534;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}
.card{
    width: 15%;
    display: flex;
    justify-content: center;
    color: black;
    flex-direction: column;
    align-items: center;
}
.img-card {
    width: 150px;
    margin-bottom: 5px;
}
.card p {
    text-align: center;
    margin-top: 5px;
}
