*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
    height: 100%;
    background-color: #1e2534;
    background-image: url("/images/react-logo.svg");
}

.Nav{
    display: flex;
    justify-content: space-between;
}

.Header{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    
}

.Header h1{
    padding: 100px;
    font-size: 8vh;
}

.Header h2{
    padding: 50px;
    font-size: 4vh;

}