* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(29, 36, 53);
    background-image: url('/images/react-logo.svg');
    background-repeat: repeat;
    background-size: 250px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

nav img:nth-child(2) {
    width: 30px;
}

main {
    text-align: center;
    height: 90vh;
}

h1 {
    margin: 8%;
    font-size: 3.5em;
}

h3 {
    font-size: 1.8em;
    width: 60%;
    margin: 0 auto;
}

button {
    margin-top: 5%;
    padding: 1.5% 2%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px
}

footer {
    display: flex;
    text-align: center;
}

.image {
    width: 60%;
}